@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nova+Square&family=Smooch+Sans:wght@100..900&family=Tektur:wght@400..900&display=swap');

/*
 font-family: "Dancing Script", cursive;
 font-family: "Nova Square", sans-serif;
 font-family: "Smooch Sans", sans-serif;
 font-family: "Tektur", sans-serif;
 */

 
@import url('https://fonts.googleapis.com/css2?family=Gafata&family=Rationale&family=Seymour+One&display=swap');
/*
font-family: "Seymour One", sans-serif;
 font-family: "Gafata", sans-serif;
 font-family: "Rationale", sans-serif;
 */

body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

/* centraliza o site */
.container{
    width:90%;
    margin:auto;
}

/* topo */
.navbar-topo{
    background-color:rgb(200, 100, 0);
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px;
    
}

/* menu topo */
.menu-topo{
    list-style:none;
    display:flex;
    gap:20px;
}

.menu-topo a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-family: "Seymour One", sans-serif;
}

.menu-topo a:hover{
    color:chartreuse;
}

/* estrutura do meio */
.conteudo{
    display:flex;
}

/* menu lateral */
.menu-lateral{
    flex:1;
    background-color:burlywood;

}

.menu-lateral ul{
    list-style:none;
    padding:0;
    margin:0;
}

.menu-lateral li{
    border-bottom:1px solid brown;
}

.menu-lateral a{
    display:block;
    padding:10px;
    color:black;
    text-decoration:none;
}

.menu-lateral a:hover{
    background-color:crimson;
    color:white;
}

/* conteúdo principal */
main{
    flex:4;
    background-color:cornflowerblue;
    display:flex;
     font-family: "Gafata", sans-serif;
}

/* section */
main section{
    flex:3;
    padding:15px;
}

/* barra lateral direita */
main aside{
    flex:1;
    background-color:gray;
    padding:15px;
    font-family: "Dancing Script", cursive;
}

/* rodapé */
footer{
    background-color:green;
    color:white;
    text-align:center;
    padding:15px;
    font-family: "Rationale", sans-serif;
    font-size: 200px;
}

/* logo */
.logo img{
    width:150px;
    margin-left: 500px;
}
